<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<style>
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 30px;
    }
    button {
        font-size: 20px;
    }
</style>
<body>
<h1>About Kurt's Coffee Shop</h1>
<p><br><br><br><br><br><br>Welcome to Kurt's Coffee Shop! We are a coffee shop that focuses on speed and taste.</p>
<p>Established in 2023 in the small city of Tucson, Arizona, Our companies mission is</p>
<p>to bring everyone around this beautiful city a great cup of coffee at an amazing price!</p>
<br>
<br>
<br>
<br>
<button onclick="window.location.href = 'mainscreen';">Mainscreen</button>
</body>
</html>